 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Variables
$blue: #4A6AFF;
$border-blue: #D3ECF8;
$light-grey: #E4E4E4;




// Custom Styles
body {
  background: $blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.main {
  margin: 50px auto 0 auto;
  min-width: 400px;
  width: 50%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid $border-blue;
  border-radius: 6px;
  padding: 60px;
  text-align: center;
  
  form {
    text-align: center;
    input {
      display: block;
      margin: 3% auto;
      padding: 2% 0px;
      min-width: 275px;
      width: 75%;
      text-align: center; 
    }
    button {
      margin: 3%;
      background: none;
      border: none;
      padding: 2% 4%;
    }
    .register-here {
      background-color: $light-grey;
      color: $blue;
    }
    .login-user {
      background-color: $blue;
      color: white;
    }
    .back-to-login {
      background-color: $light-grey;
      color: $blue;
    }
    .register-user {
      background-color: $blue;
      color: white;
    }
  }
}
